html {
	background: url("images/starry-background.png");
}

div.wrapper {
	position: relative;
	margin: 0 auto;
	text-align: center;
}

header {
	position: relative;
	margin: 0 auto;
	text-align: center;
}

header img {
	height: 240px;
}

.game-center {
	width: 1050px;
}

.board {
	float: left;
	width: 565px;
	height: 565px;
	position: relative;
	margin: 20px auto 0 auto;
}
/*CSS hack that allows board and status <div> to display side-by-side (Ed showed me this one).*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }

div.box {
	height: 175px;
	width: 175px;
	border: 10px solid yellow;
	float: left;
	background-size: 0px 0px;
	/*Switches background to what is indicated for div.X and/or div.O.*/
	transition: background-size 2s;
	background-repeat: no-repeat;
	background-position: center;
}

.box.one {
	border-top: white;
}

.box.three {
	border-bottom: white;
}

div.A {
	border-left: white;
}

div.C {
	border-right: white
}

div.X {
	background-image: url("images/x-wing.png");
	background-size: 170px 170px;
}

div.O {
	background-image: url("images/death-star-edited.png");
	background-size: 170px 170px;
}

div.status {
	padding-top: 100px;
	width: 435px;
	font-size: 35pt;
	font-weight: bold;
	text-align: left;
	color: yellow;
	float: left;
	margin-left: 50px;
}

.status p {
	font-family: Helvetica;
	line-height: 65px;
	/*Makes 3D-looking, t6ilts angle of text to 25 degrees*/
	transform: perspective(500px) rotateX(25deg);
}